/*DECLARARCION DE LA PAGINA*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*COLOR DE PAGINA*/
    background: #0d2a3f;
    color: #ededed;
}

/*ESTILO PARA EL MENU Y EL MENU RESPONSIVO*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #081b29;
    color: #ededed;
}
.logo {
    color: #ededed;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
}
.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}
#menu-toggle {
    visibility: hidden;
}
.navegar {
    display: flex;
    margin-right: 40px;
}
.navegar a {
    color: #ededed;
    text-decoration: none;
    padding: 10px;
}
.navegar a:hover,
.navegar a.activado {
    color: #00abf0;
}

/* Estilos base */
section {
    padding: 0;
}
.titulo h1 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 2cm;
    text-align: center;
}

.titulo p {
    margin: 0 70px 0 70px;
}

.fondo { /*¿QUE ES?*/
    background: #13517c;
}
.subtitulo {
    padding: 60px;
    margin: 100px 500px 0 70px;
}
.subtitulo h2 {
    text-align: center;
}
.subtitulo p {
    text-align: justify;
}
.inicio-sf {
    width: 300px;
    margin: -255px 0 0 700px;
}

.fondo-funcion { /*¿COMO FUNCIONA?*/
    background: #154567;
}
.subtitulo-funcion {
    padding: 60px;
    margin: 0 70px 0 500px;
}
.subtitulo-funcion h2 {
    text-align: center;
}
.subtitulo-funcion p {
    text-align: justify;
}
.subtitulo-funcion ol {
    text-align: justify;
    padding-left: 30px;
}
.inicio-sf-1 {
    width: 400px;
    margin: -1000px 0 300px -460px;
}

footer { /*PIE DE PAGINA*/
    background: #081b29;
    padding-top: 50px;
    width: 100%;
    height: 250px;
}
.contenido {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
h3 {
    font-size: 10pt;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 20px 0 100px;
}
.footer-contenido p {
    margin: 0 20px 0 100px;
    font-size: 9pt;
    padding: 7px;
}
.footer-contenido a {
    text-decoration: none;
    color: #ededed;
}
.footer-contenido a:hover {
    text-decoration: underline;
    color: rgb(207, 255, 255);
}
.copy {
    text-align: center;
    margin-top: 35px;
    font-size: 11pt;
}


/*ESTILO RESPONSIVO MOVIL*/
@media screen and (max-width: 768px) {

    /*MENU*/
    .menu-icon {
        display: block;
    }

    .navegar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #081b29;
    }

    .navegar a {
        padding: 10px 20px;
        border-bottom: 1px solid #0a2a41;
    }

    #menu-toggle:checked + .menu-icon ~ .navegar {
        display: flex;
    }

    /*PIE DE PAGINA*/
    footer {
        background: #081b29;
        padding-top: 50px;
        width: 100%;
        height: 450px;
    }
    .contenido {
        flex-direction: column;
        text-align: center;
        margin-left: -30px;
    }

    .footer-contenido {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

/*ESTILO RESPONSIVO GENERAL*/
@media screen and (max-width: 1024px) {
    .titulo h1 {
        font-size: 48px;
        margin-top: 1cm;
    }

    .titulo p {
        margin: 0 25px 0 25px;
        text-align: justify;
    }

    .fondo {
        padding: 30px;
        margin-top: 90px;
    }

    .subtitulo p {
        margin: 0 -60px 40px -60px;
    }

    .fondo-funcion {
        padding: 30px;
    }

    .subtitulo, .subtitulo-funcion {
        padding: 30px;
        margin: 30px;
    }

    .subtitulo-funcion p {
        margin: 0 -60px 0 -60px;
    }

    .subtitulo-funcion ol {
        margin: 0 -60px 40px -60px;
    }

    .inicio-sf, .inicio-sf-1 {
        width: 100%;
        margin: 0 auto;
    }
}

img[src="https://www.000webhost.com/static/default.000webhost.com/images/powered-by-000webhost.png"] {
    display: none;
}