/*DECLARARCION DE LA PAGINA*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /*COLOR DE PAGINA*/
    background: #081b29;
    color: #ededed;
}

header { /*MENU DE NAVEGACION*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navegar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navegar a:hover,
.navegar a.activado {
    color: #00abf0;
}

.inicio { /*DISEÑO DE PORTADA*/
    height: 100vh;
    background: url(fondo-inicio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.inicio-contenido {
    max-width: 600px;
}
.inicio-contenido h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}
.inicio-contenido h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.inicio-contenido p {
    margin: 20px 0 40px;
}
.inicio-contenido .boton {
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.boton a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.boton a:hover {
    color: #00abf0;
}
.boton a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.boton a:nth-child(2):hover {
    color: #081b29;
}
.boton a:nth-child(2)::before {
    background: #00abf0;
}
.boton a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}
.boton a:hover::before {
    width: 100%;
}

img[src="https://www.000webhost.com/static/default.000webhost.com/images/powered-by-000webhost.png"] {
    display: none;
}